<section>
  <h1>About Me</h1>
  <p>Trabalhando com TI desde 1999. Apaixonado por Software Livre e desenvolvimento Web, já trabalhou tanto com desenvolvimento de ferramentas Web PHP quanto com suporte e administração de ambientes servidores GNU/Linux e ferramentas OpenSource. Hoje trabalha com desenvolvimento de E-commerce utiliizando a framework Ruby on Rails na Giran. Graduando em ciência da computação, certificado LPIC-1 (Junior Level Linux Professional). Membro ativo da comunidade software livre.</p>
</section>
