<section>
  <h1>Blog de Amigos</h1>
  <ul>
    <li><a target="_blank" href="http://www.leohackin.com.br">Leo Hackin</a></li>
    <li><a target="_blank" href="http://www.jeveaux.com">Jeveaux</a></li>
    <li><a target="_blank" href="http://blog.joaovrmaia.com/">João Victor</a></li>
    <li><a target="_blank" href="http://www.tux-es.org">Comunidade Tux-ES</a></li>
  </ul>
</section>

<section>
  <h1>Divulgação</h1>
  <a class="divultacao_banner" href="http://rockandrails.com.br" target="_blank"><img src="/images/img_divulgacao.jpg"></a>
</section>
